.container1,
.container2 {
    background: rgb(147, 138, 138);
    padding: 16px;
    border: 4px solid rgb(81, 81, 92);
    display: flex;
    justify-content: space-between;
}

.container3 {
    margin: 20px;
    display: block;
    font-display: auto;
    text-align: justify;
    text-indent: 122px;
}

.container5 {
    display: flex;
}

.item1,
.item2,
.item3,
.item4 {
    background: peachpuff;
    border: 4px solid salmon;
    height: 24px;
    padding: 4px;
}

img {
    height: 170px;
    width: 300px;
    display: inline-block;
    object-position: center;
}

.container6 {
    text-align: center;
    font-size: large;
    line-height: 100px;
}

.box,
.box1,
.box2,
.box3 {
    height: 70px;
    width: 70px;
    display: flex;
    border: 2px solid rgb(28, 28, 31);
}

.container7 {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

button {
    background: blue;
    color: white;
    align-items: center;
}

.textbox,
.textbox2,
.textbox3 {
    flex-direction: column;
}

.quote {
    border: 4px;
    background: whitesmoke;
    color: black;
    flex-direction: column;
    line-height: 0.8;
    padding: 20px;
    margin: 4px;
    background-color: dimgrey;
}

.group {
    display: flex;
    line-height: 0.8;
    padding: 16PX;
    margin: 4px;
    background-color: blue;
    color: aliceblue;
}

.stage1 {
    background-color: rgb(166, 137, 137);
}